---
---

@import "{{ site.theme }}";

.wrapper {
    width: 100%;
    max-width: 1200px;
}

header {
    width: 300px;
}

section {
    width: calc(100% - 300px);
    max-width: 875px;
}

footer {
    width: 300px;
}