--- --- @import "{{ site.theme }}";

.wrapper {
  width: 100%;
  max-width: 1200px;
}

header {
  width: 300px;
}

section {
  width: calc(100% - 300px);
  max-width: 875px;
}

.PageTitle {
  position: fixed;
  padding-top: 100px;
  margin-top: -100px;
  width: calc(100% - 300px);
  max-width: 875px;
  height: 60px;
  background-color: white;
  font-weight: 700;
  font-size: 28px;
  color: black;
}

nav {
  text-align: right
}

nav ul {
  list-style: none;
  list-style-image: none;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
  margin-left: -30px;
}

nav ul li {
  padding: 5px 0px;
  line-height: 16px
}

nav ul li.tag-h1 {
  font-size: 1.2em
}

nav ul li.tag-h1 a {
  font-weight: bold;
  color: #333
}

nav ul li.tag-h2+.tag-h1 {
  margin-top: 10px
}

nav ul a {
  color: #666
}

nav ul a:hover {
  color: #999
}

@media print,
screen and (max-width: 1060px) {
  nav {
    display: none;
  }
}

@media print,
screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li,
  .downloads li+li+li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}